In [1]:
import os
os.chdir("D:/Bureau/PythonProject/packages/scientisttseries/data")

# Chargement des donn√©es
import pandas as pd
import numpy as np

df = pd.read_excel("c5ex2.xls",header=0,index_col=0)
df.index = pd.date_range(start="2000-01-31",periods=len(df),freq="M")
df.head()

                TOTPHAR    TOTPHARSA
2000-01-31  1766.329705  1628.372370
2000-02-29  1799.817447  1793.320963
2000-03-31  2022.353306  1847.212570
2000-04-30  1762.868650  1845.445843
2000-05-31  1883.066309  1945.822600